@model IEnumerable<DreamLeague.Models.News>

<div class="text-primary bg-info news-ticker" id="news-ticker" style="display:none">
    <div class="marquee">
        @foreach (var item in Model)
        {
            <a style="color:white; margin-right:50px;font-family:Lato,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:14px;" href="@item.link" target="_blank">@item.shortdesc</a>
        }
    </div>
</div>

<script>
    $('#news-ticker').fadeIn();
    $('.marquee').marquee({
        pauseOnHover: true,
        duration: 20000
    });    
</script>