<h2>External Links</h2>

<p>
    <a href="http://www.bbc.co.uk/sport/football/fixtures" target="_blank">Upcoming fixtures and past results (BBC) <i class="fa fa-external-link" aria-hidden="true"></i></a>
</p>

<p>
    <a href="https://www.efl.com/" target="_blank">EFL Official Site <i class="fa fa-external-link" aria-hidden="true"></i></a>
</p>

<p>
    <a href="https://www.skysports.com/football" target="_blank">Sky Sports Football <i class="fa fa-external-link" aria-hidden="true"></i></a>
</p>
