<h2>Finances</h2>

<p>Visit external site <a href="https://www.dreamleaguefinance.co.uk" target="_blank">www.dreamleaguefinance.co.uk <i class="fa fa-external-link" aria-hidden="true"></i></a> to view and manage your Dream League finances.</p>

<img class="img-responsive img-rounded" src="~/Content/images/Money.jpeg" />
