@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Own goal!</h1>
<h2>Clearly we are yet to gel as a team.  Let's pick ourselves up and go again.</h2>

<blockquote class="blockquote-reverse">
    <p>A game is not won until it is lost.</p>
    <small>David Pleat</small>
</blockquote>

<h3>Technical Support</h3>
<address>
    <strong>Email:</strong><a href="mailto:dreamleague@dreamleague.eu?Subject=Dream League Error" target="_top">dreamleague@dreamleague.eu</a><br />
</address>